.project-wrapper {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--pink-light);
    overflow: auto;
    background:
    radial-gradient(50% 50% at 50% 50%, rgba(25, 150, 255, 0.6) 0%, rgba(45, 180, 255, 0.1) 70%, rgba(45, 180, 255, 0) 100%),
    linear-gradient(315deg, rgba(2, 86, 44, 0.4) 30%, rgba(0,200,100,0) 100%),
    radial-gradient(100% 100% at 0% 100%, rgba(0, 0, 30, 0.7) 0%, rgba(0, 0, 30, 0.2) 70%),
    radial-gradient(30% 30% at 10% 10%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
background-blend-mode: overlay, lighten, multiply, normal;
}

.project-title,
.section-title {
    color: var(--blue-light);
}

.project-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.project-description {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #D1F9FF;
}

.section-title {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-description,
.project-description,
.design-methods,
.project-conclusion {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: var(--blue-extra-light);
}

.design-methods {
    font-size: 1em;
}

b {
    color: var(--pink-light)
}

.sidebyside-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

img,
video {
    border: 1px solid #06D8E8;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #06D8E8;
}

.role-and-work-container {
    width: 50%;
    padding-right: 10px;
}

.collage-container {
    width: 50%;
    max-width: 50vw;
}

.collage {
    width: 100%;
    margin-top: 10px;
}

/* Visualizations /////////////////////////////////////////////////////////////////////// */

.visualization-wrapper {
    width: 100%;
}

.visualizations {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.preview-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-height: 40vh;
}

.preview-image,
.preview-video {
    max-width: 100%;
    max-height: 90%;
}

.preview-caption {
    width: 100%;
    text-align: center;
}

.preview-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.conclusion-wrapper {
    margin-top: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.conclusion-wrapper .section-title {
    text-shadow: 0px 1px 5px var(--blue-dark);
}

.preview-caption {
    font-size: 0.9em;
    color: var(--blue-extra-light);
    margin-top: 10px;
}

main a {
    color: var(--pink-light);
}
  
main a:visited {
    color: var(--pink-medium);
}
  
main a:hover {
    color: var(--blue-light);
}

main a:active {
    color: var(--blue-medium);
}

.end-video-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.end-video {
    max-width: 400px;
}


/* Responsive Design ///////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1200px) {
    .sidebyside-wrapper {
        flex-wrap: wrap;
    }

    .role-and-work-container {
        width: 100%;
    }

    .collage-container {
        width: 100%;
        max-width: 100vw;
    }

    .conclusion-wrapper {
        flex-wrap: wrap;
    }

    .diagram-wrapper {
        width: 70%;
        order: 2;
    }
}

@media screen and (max-width: 800px) {

    .project-title {
        font-size: 2em;
    }

    .section-description,
    .project-description,
    .design-methods,
    .project-conclusion {
        font-size: 0.9em;
    }

    .design-methods {
        font-size: 0.8em;
    }

    .preview-figure {
        width: 90%;
    }

    .sidebyside-wrapper {
        display: block;
    }

    .collage-container {
        max-width: 100vw;
        display: flex;
        justify-content: center;
    }

    .collage {
        width: 100%;
        height: 100%;
    }

    .visualizations {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}